body {
	margin: 10px;
}
#form {
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 10px;
	background: url('/images/wood.jpg');
	/*background-size: 100% 100%;*/
}
#form fieldset {
	padding: 0 15px 20px 0;
}
#form .control-group {
	margin-bottom: 10px;
}
#form label {
	color: #fff;
}
#form textarea {
	width: 95%;
	height: 100px;
}
#form select {
	width: 100%;
}
.visible {
	display: block;
}
.invisible {
	display: hidden;
}
a {
	cursor: pointer;
}
.shadow {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
	-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
