body {
  padding-bottom: 50px;
}
.navbar-decorated {
  background: url('/images/cellar.jpg');
  a {
    color: #FFF;
  }
  a:hover {
    background: fade(#000, 30%) !important;
  }
}
.btn-decorated-dark {
  background: #B16E41;
  border-bottom: 4px solid #885330;
  outline: none;
  color: #FFF;
  &:hover {
    color: #FFF;
  }
  padding: 4px 12px;
}
.btn-decorated-light {
  background: #FFF;
  border-bottom: 4px solid #DDD;
  outline: none;
  color: #333;
  &:hover {
    color: #333;
  }
  padding: 4px 12px;
}

// #nprogress {
//   .bar {
//     background: #FFF;
//   }
//   .peg {
//     box-shadow: 0 0 10px #FFF, 0 0 5px #FFF;
//   }
//   .spinner-icon {
//     border-left-color: #FFF;
//     border-top-color: #FFF;
//   }
// }

.main-heading {
  text-align: center;
}

#login-dropdown-list {
  margin-right: 45px;
}

.alert-fixed {
  width: 100%;
  z-index: 9999;
  position: fixed;
  text-align: center;
  bottom: 0;
  padding: 15px;
  z-index: 9999;
  font-weight: bold;
  margin-bottom: 0;
}

.alert-x {
  color: #333;
  background: #FCF8E3;
  border-bottom: 4px solid #FAEBCC;
}

.error-x {
  color: #FFF;
  background: #ED143D;
  border-bottom: 4px solid #CA0F33;
}

.ref {
  position: absolute;
  right: 0;
  bottom: 0;
}

#search {
  width: 100%;
  // margin-top: 20px;
}

#form {
  padding-bottom: 50px;
}

#form textarea {
  width: 100%;
  height: 100px;
}

.wine-list .list-group-item {
  height: 300px;
  overflow: hidden;
}

.jumbotron {
  background: none;
}