<template name="deleteModal">
  <div class="delete-modal modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Are you sure?</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you wish to permanently delete this wine?</p>
        </div>
        <div class="modal-footer">
          <a href="" class="btn cancel btn-default pull-left">Cancel</a>
          <a href="" class="btn btn-danger delete">Delete</a>
        </div>
      </div>
    </div>
  </div>
</template>