<template name="item">
  <div class="col-sm-4">
    <a href="{{pathFor 'view'}}" class="list-group-item">
      {{#if rating}}
        <span class="badge">{{rating}}/10</span>
      {{/if}}
      {{#if price}}
        <span class="badge"><i class="fa fa-dollar"></i> {{price}}</span>
      {{/if}}
      <span class="badge">&times; {{qty}}</span>

      <h4 class="ref"><span class="label label-default pull-left">#{{ref}}</span></h4>
      <h3 class="list-group-item-heading">{{year}} {{winery}} {{type}}</h3>
      <h5>{{region}}</h5>
      
      <!-- <p class="hidden-xs list-group-item-text">{{notes}}</p> -->

      {{#if drink_by}}
        <hr>
        <p>Drink by {{drink_by}}</p>
      {{/if}}
    </a>
  </div>
</template>