<template name="nav">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="home">Wine Cellar</a>
      </div>
      {{#if currentUser}}
        <ul class="nav navbar-nav">
          <li>
            <a href="add"><i class="fa fa-glass"></i> Add a new wine</a>
          </li>
          <li>
            <a href="home"><i class="fa fa-list-alt"></i> Home</a>
          </li>
          <li>
            <a href="archive"><i class="fa fa-clock-o"></i> Archive</a>
          </li>
          {{#unless currentView 'edit'}}
            {{#unless currentView 'add'}}
              <li>
                <a href="" class="toggle-search"><i class="fa fa-search"></i> Search</a>
              </li>
            {{/unless}}
          {{/unless}}
        </ul>
      {{/if}}
      <ul class="nav navbar-nav pull-right">
        {{#if currentUser}}
          <li>
            <a><i class="fa fa-dollar"></i> {{totalValue}}</a>
          </li>
          <li>
            <a>{{totalWines}} bottles</a>
          </li>
          <li>
            <button type="button" class="btn btn-default navbar-btn">Sign In</button>
          </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</template>