<template name="nav">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'main'}}">Wine Cellar</a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar-collapse">
        {{#if currentUser}}
          <ul class="nav navbar-nav">
            <li>
              <a href="{{pathFor 'add'}}"><i class="fa fa-glass"></i> Add</a>
            </li>
            <li>
              <a href="{{pathFor 'main'}}"><i class="fa fa-list-alt"></i> Home</a>
            </li>
            <li>
              <a href="{{pathFor 'archive'}}"><i class="fa fa-clock-o"></i> Archive</a>
            </li>
            <li>
              <a href="{{pathFor 'drinkNow'}}"><i class="fa fa-clock-o"></i> Drink Now</a>
            </li>
          </ul>
        {{/if}}
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li class="hidden-xs">
              <a><i class="fa fa-dollar"></i> {{totalValue}}</a>
            </li>
            <li class="hidden-xs">
              <a>{{totalWines}}</a>
            </li>
            <li>
              <a href="" class="js-sign-out"><i class="fa fa-sign-out"></i> Sign Out</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>